---
import Chip from "../ui/Chip.astro";


---

<section>
    <Chip label="Available for work" color="var(--border)" backgroundColor="color-mix(in srgb, var(--secondary) 20%, transparent)" />
    <h2 class="noselect">Quentin Challon</h2>

</section>